.logo {
  animation: fade-in-down 2s ease forwards;
  margin-top: -100px;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateY(-50%) translateX(-50%);
  }
}

.title {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 22px;
  color: #12abdb;
}

.description {
  margin-top: 400px;
  margin-left: 530px;
  font-size: 22px;
  color: #12abdb;
}

.nominate {
  width: 150px;
  height: 40px;
  margin-top: 500px;
  margin-left: 650px;
  background-color: white;
  border-color: #12abdb;
  border-radius: 10px;
  color: #0070ad;
}

.logo {
  animation: fade-in-down 2s ease forwards;
  margin-top: -100px;
}
