.btn-primary {
  color: #fff;
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  margin-left: 88% !important;
  margin-top: -4% !important;
  width: 12% !important;
  background-color: #0070ad !important;
  border-color: #0d6efd;
}

.form-label {
  margin-bottom: 0.5rem;
  margin-top: 2% !important;
  color: #000 !important;
  font-family: "Ubuntu" !important;
  font-weight: bold !important;
}
